.App {
  text-align: center;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  height: 100vh;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-around;
}

.result {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
}

h1 {
  color: #ffffff;
}